<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Solis, Luna, Arts, Solis and Luna Art">
    <meta name="description" content="a non-profit charity for helping students express themselves">
    <title>Solis and Luna Arts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kanit:wght@500&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/revealingText.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400&family=Lato:wght@400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./styles/banner.css">
    <link rel="stylesheet" href="./styles/sections.css">
    <link rel="stylesheet" href="./styles/blogs.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid nav">
            <a class="navbar-brand" href="/">
                <img src="/images/solis.png" alt="" height="100">
            </a>
            <a class="nav-link nav-header" style="color:#01033e">Solis and Luna Arts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" aria-current="page" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Teams
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/executives">Executive Team</a></li>
                            <% regions.forEach((region) => { %>
                                <% if (region.expanded) { %>
                                    <li>
                                        <a class="dropdown-item" href="#"><%=region.name%> &raquo;</a>
                                        <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                            <% region.regions.forEach((subsection) => { %>
                                                <li><a class="dropdown-item" href="/region/<%=subsection.id%>"><%=subsection%></a></li>
                                            <% }) %>
                                        </ul>
                                    </li>
                                <% } else { %>
                                    <li><a class="dropdown-item" href="/region/<%=region.id%>"><%=region.name%></a></li>  
                                <% } %>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item volunteer">
                        <a class="nav-link" href="/volunteer">Volunteer</a>
                    </li>
                    <li class="nav-item blog">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item blog">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="picture">
        <img class='w-100 img-wide max-h-px' src="./images//Banners/blog.jpg" alt="" />
        <div class="box">
            <h2>Our Blog</h2>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="blogs">
        <h1>Search For Articles</h1>
        <div class="options">
            <div class="dropdown">
                <button class="region regionDropDownTitle dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                </button>
                <div class="dropdown-menu blog-selector" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">
                        California &raquo;
                        <ul class="dropdown-menu dropdown-submenu dropdown-submenu-right blog-subsection">
                            <li class="dropdown-item">
                              Los Angelos
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-item">Florida</li>
                    <li class="dropdown-item">New Jersey</li>
                    <li class="dropdown-item">New York</li>
                    <li class="dropdown-item">Washington</li>
                </div>
            </div>
            <input type="text" class="search" placeholder="Search">
            <a class="searchIcons"><img src="./images/search.png" alt=""></a>
        </div>
        <div class="singleBlog">
            <img src="/images/Banners/florida.jpg" alt="" class="reveal">
            <div class="information reveal">
                <h2>Some Blog Post</h2>
                <h4>Chloe Cho</h4>
                <h5>August 19, 2020</h5>
                <h6>wadnmawn djkawn djkawnj dnawji dnawiu nduiowan uidnawui ndiuaw nduijwna djknawkjl dnawjk dnawjik ndjawk njdk nwajkd nawjkndjiawndiuawnd</h6>
            </div>
        </div>
        <div class="singleBlog">
            <img src="/images/Banners/florida.jpg" alt="" class="reveal">
            <div class="information reveal">
                <h2>Some Blog Post</h2>
                <h4>Chloe Cho</h4>
                <h5>August 19, 2020</h5>
                <h6>wadnmawn djkawn djkawnj dnawji dnawiu nduiowan uidnawui ndiuaw nduijwna djknawkjl dnawjk dnawjik ndjawk njdk nwajkd nawjkndjiawndiuawnd</h6>
            </div>
        </div>
        <div class="singleBlog">
            <img src="/images/Banners/florida.jpg" alt="" class="reveal">
            <div class="information reveal">
                <h2>Some Blog Post</h2>
                <h4>Chloe Cho</h4>
                <h5>August 19, 2020</h5>
                <h6>wadnmawn djkawn djkawnj dnawji dnawiu nduiowan uidnawui ndiuaw nduijwna djknawkjl dnawjk dnawjik ndjawk njdk nwajkd nawjkndjiawndiuawnd</h6>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="/scripts/revealingText.js"></script>
    <script src="/scripts/blog.js"></script>
</body>

</html>